# =========================
# NODE / FRONTEND
# =========================

node_modules/
dist/
dist-ssr/
build/
coverage/

# =========================
# PYTHON / BACKEND
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

venv/
env/
.venv/

# =========================
# ENV FILES
# =========================

.env
backend/.env

# =========================
# UPLOADS / EXPORTS
# =========================

uploads/
backend/uploads/
exports/

# =========================
# VECTOR / AI FILES
# =========================

*.faiss
*.pkl
*.index

# =========================
# LOGS
# =========================

logs/
*.log

# =========================
# IDE FILES
# =========================

.vscode/
.idea/

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db